# Copy that file as '.env' in a parent directory

USER_AGENT="Mozilla/5.0"
AZURE_OPENAI_ENDPOINT="https://mutualizedopenai.openai.azure.com"

EDENAI_API_KEY="your_edenai_api_key_here"
AZURE_OPENAI_API_KEY="your_azure_openai_key_here"
#OPENROUTER_API_KEY="your_key_here"
#OPENAI_API_KEY="your_key_here"

BLUEPRINT_CONFIG="training_adn"   # Overide config file
