# copy that file as '.env' in the path of the project

USER_AGENT="Mozilla/5.0"

EDENAI_API_KEY="your_edenai_api_key_here"
AZURE_OPENAI_API_KEY="your_azure_openai_key_here"
AZURE_OPENAI_ENDPOINT="https://your-endpoint.openai.azure.com"

#BLUEPRINT_CONFIG="training_edenai" 
